:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 1.6rem;
  background-color: #fbf7f7;
  color: #1a1a1a;
  overflow-x: hidden;
}
body header {
  display: flex;
  height: 9rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  background-color: #0e0872;
  margin-bottom: 5rem;
}
body header nav span.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header nav span.logo img {
  margin-block: 0.8rem;
  margin-inline: 2.4rem;
  width: 35%;
  height: 35%;
}
body header nav div.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main {
  margin-block: 12rem;
}
body main section#home {
  margin-block: 2rem;
  margin-inline: 2rem;
}
body main section#home span {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  font-size: 1.8rem;
}
body main section#home div.content {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  font-size: 1.6rem;
}
body main section#home div.content div.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
body main section#home div.content div.slider figure span img {
  width: 80%;
}
body main section#about {
  margin-block: 2rem;
  margin-inline: 2rem;
}
body main section#about span {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;
}
body main section#about div.content {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}
body main section#about div.content div.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-block: 4rem;
  margin-inline: auto;
  background-color: var(--stats-color);
  border-radius: 0.6rem;
  gap: 6rem;
}
body main section#about div.content div.stats span.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main section#about div.content div.stats span.stat h4 {
  font-size: 1.8rem;
}
body main section#about div.content div.stats span.stat p {
  font-size: 1.6rem;
}
body main section#service {
  margin-block: 2rem;
  margin-inline: 2rem;
}
body main section#service span {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;
}
body main section#service div.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main section#service div.content div.cards {
  margin-inline: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
body main section#service div.content div.cards span.card {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: 0.2rem solid #1a1a1a;
  border-radius: 1rem;
  text-align: left;
  background-color: #0e0872;
  color: #e6e6e6;
  gap: 1rem;
}
body main section#service div.content div.cards span.card h4 {
  font-size: 1.8rem;
}
body main section#service div.content div.cards span.card p {
  font-size: 1.6rem;
}
body main section#contact {
  margin-block: 2rem;
  margin-inline: 2rem;
}
body main section#contact span {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;
  gap: 2rem;
}
body main section#contact div.content ul {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
body main section#contact div.content ul li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #1a1a1a;
}
body main section#contact div.content ul li path {
  stroke: #4b71b7;
}
body main section#contact a.whatsapp {
  width: 26.3rem;
  height: 6.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 4rem;
  margin-block: 6rem;
  margin-inline: auto;
  background-color: #128c7e;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  gap: 1.6rem;
  cursor: pointer;
  transition: background 300ms;
}
body main section#contact a.whatsapp:hover {
  background-color: #0c5a51;
}
body footer {
  text-align: center;
  background-color: #4b71b7;
  color: #e6e6e6;
  padding-block: 6rem;
}
body footer ul.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 2rem;
  margin-bottom: 6rem;
  gap: 3.2rem;
}
body footer ul.social-links li a {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e0872;
  transition: background 300ms;
}
body footer ul.social-links li a.social-facebook:hover {
  background-color: #1b74e4;
  transform: scale(1.2);
  transition: transform ease-in-out 300ms;
}
body footer ul.social-links li a.social-instagram:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  transform: scale(1.2);
  transition: transform ease-in-out 300ms;
}/*# sourceMappingURL=style.css.map */