$primary-color: #0e0872;
$secondary-color: #8ba8f7;
$background-color: #fbf7f7;
$paragraph-color: #1a1a1a;
$whatsapp-color: #128c7e;
$whatsapp-color-hover: #0c5a51;
$height-header: 9rem;

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 1.6rem;
    background-color: $background-color;
    color: $paragraph-color;
    overflow-x: hidden;

    header#home {
        display: flex;
        height: $height-header;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 100;
        background-color: $primary-color;
        margin-bottom: 5rem;
        color: #e6e6e6;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: $height-header;
        }
        
        nav span.logo img {
            margin-block: 0.8rem;
            margin-inline: 2.4rem;
            width: 8rem;
            height: 6rem;
        }
    
        nav div.menu ul li a {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .menu ul:nth-child(1) {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.4rem;
        }
        
        .menu ul li a {
            color: #e6e6e6;
            text-decoration: none;
        }
    }

    main {
        margin-block: 12rem;

        section.home {
            margin-block: 2rem;
            margin-inline: 2rem;
        }

        section.home span {
            margin-block: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 2rem;
            font-size: 1.8rem;
        }

        section.home div.content {
            margin-block: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 2rem;
            font-size: 1.6rem;
        }

        section.home div.content div.slider {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.6rem;
        }

        section.home div.content div.slider figure span img {
            width: 80%;
        }

        section#about {
            margin-block: 2rem;
            margin-inline: 2rem;
        }

        section#about span{
            margin-block: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 1.8rem;
        }

        section#about div.content p {
            display: flex;
            flex-direction: column;
            font-size: 1.6rem;
            padding-block: 2rem;
        }

        section#about div.content div.stats {
            margin-block: 2rem;
            margin-inline: auto;
            padding-block: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            background-color: $primary-color; 
            border-radius: 0.8rem;
            gap: 4rem;
            color: #e6e6e6;
        }

        section#about div.content div.stats span.stat {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        section#about div.content div.stats span.stat h4 {
            font-size: 1.8rem;
        }

        section#about div.content div.stats span.stat p {
            font-size: 1.6rem;
        }

        section#service {
            margin-block: 2rem;
            margin-inline: 2rem;
        }

        section#service span {
            margin-block: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 1.8rem;            
        }

        section#service div.content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        section#service div.content div.cards {
            margin-inline: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
        }

        section#service div.content div.cards span.card {
            padding: 2.4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            border-radius: 1rem;
            text-align: left;
            background-color: $primary-color;
            color: #e6e6e6;
            gap: 1rem;
        }

        section#service div.content div.cards span.card h4 {
            font-size: 1.8rem;
        }

        section#service div.content div.cards span.card p {
            font-size: 1.6rem;
        }

        section#service div.content button {
            width: 15rem;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border: none;
            border-radius: 0.5rem;
            margin-block: 4rem;
            margin-inline: auto;    
            background-color: $primary-color;
            color: #e6e6e6;
            font-size: 1.4rem;
            font-weight: 700;
            text-transform: uppercase;
            gap: 2rem;
            cursor: pointer;
        }

        section#service div.content dialog {
            width: 80%;
            height: 80%;
            max-width: 100%;
            max-height: 50%;
            margin-block: 2rem;
            margin-inline: auto;
            padding: 2.4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            border: none;
            border-radius: 0.5rem;
            background-color: $secondary-color;
            color: $paragraph-color;
        }

        section#service div.content dialog span {
            margin-block: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 2rem;
            font-size: 1.8rem;
        }

        section#service div.content dialog figure {
            margin-inline: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 4rem;
        }

        section#service div.content dialog figure img {
            margin-block: 2rem;
            margin-inline: auto;
            width: 100%;
            border: none;
            border-radius: 1rem;
        }

        section#contact {
            margin-block: 4rem;
            margin-inline: 2rem;

        }
    
        section#contact span {
            margin-block: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 1.8rem;
            gap: 2rem;
        }
    
        section#contact div.content ul {
            margin-block: 4rem;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            
        }
    
        section#contact div.content ul li a {
            display: flex;
            align-items: center;
            text-align: justify;
            gap: 1rem;
            color: $paragraph-color;
        }
    
        section#contact div.content ul li path {
            stroke: $secondary-color;
        }

        section#contact a.whatsapp {
            width: 26.3rem;
            height: 6.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border: none;
            border-radius: 4rem;
            margin-block: 6rem;
            margin-inline: auto;    
            background-color: $whatsapp-color;
            color: white;
            font-size: 1.4rem;
            font-weight: 700;
            text-transform: uppercase;
            gap: 2rem;
            cursor: pointer;
            transition: background 300ms;
        }

        section#contact a.whatsapp:hover {
            background-color: $whatsapp-color-hover;
        }
    }

    footer {
        text-align: center;
        background-color: $secondary-color;
        color: $paragraph-color;
        padding-block: 6rem;
    }

    footer ul.social-links {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin-top: 2rem;
        margin-bottom: 6rem;
        gap: 3.2rem;
    }

    footer ul.social-links li a {
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0e0872;
        transition: background 300ms;
    }

    footer ul.social-links li a.social-facebook:hover {
        background-color: #1b74e4;
        transform:scale(1.2);
        transition: transform ease-in-out 300ms;
    }

    footer ul.social-links li a.social-instagram:hover {
        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        transform:scale(1.2);
        transition: transform ease-in-out 300ms;
    }

}
